### Cleaning

In [5]:
import pandas as pd
from fancyimpute import KNN

Using TensorFlow backend.

In [6]:
df_train = pd.read_csv('train.csv')

### Categorical variable -> One-hot-encoding

In [15]:
df = pd.get_dummies(df_train, columns = ['education'])

In [18]:
df

,id,limit_balance,sex,marriage,n_children,age,profession,PAY_1,PAY_2,PAY_3,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,target,education_high school,education_other,education_university
0,3245,50000.0,1,1.0,1,46,0.5,0,0,0,...,3000.0,1500.0,2000.0,0.0,2000.0,0.0,0,0,1,0
1,23565,180000.0,2,2.0,1,26,1.0,0,0,0,...,5946.0,3663.0,3159.0,3000.0,4857.0,6240.0,0,0,0,1
2,16215,20000.0,2,1.0,0,50,1.0,1,-1,-1,...,5000.0,2200.0,6050.0,5000.0,3000.0,2000.0,0,0,0,1
3,21881,150000.0,2,2.0,2,29,0.0,-1,-1,2,...,4400.0,0.0,4025.0,407.0,0.0,1845.0,0,0,0,1
4,15457,200000.0,1,2.0,0,30,0.0,-1,-1,-1,...,18044.0,16474.0,15392.0,14972.0,16240.0,14960.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,17070,100000.0,2,2.0,1,28,1.0,0,0,0,...,1959.0,2545.0,1513.0,1268.0,10000.0,10000.0,0,0,0,1
14996,29852,300000.0,2,2.0,0,33,0.5,0,0,0,...,3000.0,3000.0,2300.0,2203.0,1858.0,1815.0,0,0,1,0
14997,3811,20000.0,1,1.0,2,48,0.0,0,0,3,...,5000.0,0.0,4000.0,0.0,0.0,0.0,1,1,0,0
14998,11001,20000.0,2,2.0,2,25,0.5,1,2,0,...,2.0,2000.0,3000.0,0.0,3000.0,0.0,0,0,1,0
14999,17497,220000.0,2,2.0,0,36,1.0,0,0,0,...,10000.0,8018.0,10121.0,6006.0,10987.0,143779.0,1,0,1,0

### Imputation with [Fancyimpute](https://stackoverflow.com/questions/45321406/missing-value-imputation-in-python-using-knn)

In [8]:
X = df.drop('target', axis = 1)
X_imputed = KNN(k=3).solve(X.values, X.isnull().values)

Imputing row 1/15000 with 0 missing, elapsed time: 37.659
Imputing row 101/15000 with 0 missing, elapsed time: 37.660
Imputing row 201/15000 with 0 missing, elapsed time: 37.660
Imputing row 301/15000 with 0 missing, elapsed time: 37.660
Imputing row 401/15000 with 0 missing, elapsed time: 37.660
Imputing row 501/15000 with 0 missing, elapsed time: 37.660
Imputing row 601/15000 with 0 missing, elapsed time: 37.661
Imputing row 701/15000 with 0 missing, elapsed time: 37.661
Imputing row 801/15000 with 0 missing, elapsed time: 37.661
Imputing row 901/15000 with 0 missing, elapsed time: 37.661
Imputing row 1001/15000 with 0 missing, elapsed time: 37.661
Imputing row 1101/15000 with 0 missing, elapsed time: 37.662
Imputing row 1201/15000 with 0 missing, elapsed time: 37.662
Imputing row 1301/15000 with 0 missing, elapsed time: 37.662
Imputing row 1401/15000 with 0 missing, elapsed time: 37.662
Imputing row 1501/15000 with 0 missing, elapsed time: 37.662
Imputing row 1601/15000 with 0 missing, elapsed time: 37.663
Imputing row 1701/15000 with 0 missing, elapsed time: 37.663
Imputing row 1801/15000 with 0 missing, elapsed time: 37.663
Imputing row 1901/15000 with 0 missing, elapsed time: 37.663
Imputing row 2001/15000 with 0 missing, elapsed time: 37.663
Imputing row 2101/15000 with 0 missing, elapsed time: 37.664
Imputing row 2201/15000 with 0 missing, elapsed time: 37.664
Imputing row 2301/15000 with 0 missing, elapsed time: 37.664
Imputing row 2401/15000 with 0 missing, elapsed time: 37.664
Imputing row 2501/15000 with 0 missing, elapsed time: 37.664
Imputing row 2601/15000 with 0 missing, elapsed time: 37.665
Imputing row 2701/15000 with 0 missing, elapsed time: 37.665
Imputing row 2801/15000 with 0 missing, elapsed time: 37.665
Imputing row 2901/15000 with 0 missing, elapsed time: 37.665
Imputing row 3001/15000 with 0 missing, elapsed time: 37.665
Imputing row 3101/15000 with 1 missing, elapsed time: 37.668
Imputing row 3201/15000 with 0 missing, elapsed time: 37.669
Imputing row 3301/15000 with 0 missing, elapsed time: 37.670
Imputing row 3401/15000 with 0 missing, elapsed time: 37.671
Imputing row 3501/15000 with 0 missing, elapsed time: 37.671
Imputing row 3601/15000 with 0 missing, elapsed time: 37.672
Imputing row 3701/15000 with 0 missing, elapsed time: 37.673
Imputing row 3801/15000 with 0 missing, elapsed time: 37.674
Imputing row 3901/15000 with 0 missing, elapsed time: 37.675
Imputing row 4001/15000 with 0 missing, elapsed time: 37.676
Imputing row 4101/15000 with 1 missing, elapsed time: 37.677
Imputing row 4201/15000 with 0 missing, elapsed time: 37.678
Imputing row 4301/15000 with 0 missing, elapsed time: 37.679
Imputing row 4401/15000 with 0 missing, elapsed time: 37.680
Imputing row 4501/15000 with 0 missing, elapsed time: 37.681
Imputing row 4601/15000 with 0 missing, elapsed time: 37.682
Imputing row 4701/15000 with 0 missing, elapsed time: 37.683
Imputing row 4801/15000 with 0 missing, elapsed time: 37.684
Imputing row 4901/15000 with 1 missing, elapsed time: 37.684
Imputing row 5001/15000 with 0 missing, elapsed time: 37.685
Imputing row 5101/15000 with 0 missing, elapsed time: 37.686
Imputing row 5201/15000 with 0 missing, elapsed time: 37.688
Imputing row 5301/15000 with 1 missing, elapsed time: 37.688
Imputing row 5401/15000 with 0 missing, elapsed time: 37.689
Imputing row 5501/15000 with 0 missing, elapsed time: 37.691
Imputing row 5601/15000 with 0 missing, elapsed time: 37.692
Imputing row 5701/15000 with 0 missing, elapsed time: 37.693
Imputing row 5801/15000 with 0 missing, elapsed time: 37.694
Imputing row 5901/15000 with 0 missing, elapsed time: 37.695
Imputing row 6001/15000 with 0 missing, elapsed time: 37.696
Imputing row 6101/15000 with 0 missing, elapsed time: 37.697
Imputing row 6201/15000 with 0 missing, elapsed time: 37.698
Imputing row 6301/15000 with 0 missing, elapsed time: 37.699
Imputing row 6401/15000 with 0 missing, elapsed time: 37.700
Imputing row 6501/15000 with 0 missing, elapsed time: 37.701
Imputing row 6601/15000 with 0 missing, elapsed time: 37.702
Imputing row 6701/15000 with 0 missing, elapsed time: 37.702
Imputing row 6801/15000 with 0 missing, elapsed time: 37.703
Imputing row 6901/15000 with 0 missing, elapsed time: 37.704
Imputing row 7001/15000 with 0 missing, elapsed time: 37.705
Imputing row 7101/15000 with 0 missing, elapsed time: 37.706
Imputing row 7201/15000 with 0 missing, elapsed time: 37.707
Imputing row 7301/15000 with 0 missing, elapsed time: 37.708
Imputing row 7401/15000 with 0 missing, elapsed time: 37.709
Imputing row 7501/15000 with 0 missing, elapsed time: 37.709
Imputing row 7601/15000 with 1 missing, elapsed time: 37.710
Imputing row 7701/15000 with 0 missing, elapsed time: 37.711
Imputing row 7801/15000 with 0 missing, elapsed time: 37.712
Imputing row 7901/15000 with 0 missing, elapsed time: 37.713
Imputing row 8001/15000 with 0 missing, elapsed time: 37.714
Imputing row 8101/15000 with 0 missing, elapsed time: 37.715
Imputing row 8201/15000 with 0 missing, elapsed time: 37.716
Imputing row 8301/15000 with 0 missing, elapsed time: 37.717
Imputing row 8401/15000 with 0 missing, elapsed time: 37.717
Imputing row 8501/15000 with 0 missing, elapsed time: 37.718
Imputing row 8601/15000 with 0 missing, elapsed time: 37.719
Imputing row 8701/15000 with 0 missing, elapsed time: 37.720
Imputing row 8801/15000 with 0 missing, elapsed time: 37.721
Imputing row 8901/15000 with 0 missing, elapsed time: 37.722
Imputing row 9001/15000 with 0 missing, elapsed time: 37.723
Imputing row 9101/15000 with 0 missing, elapsed time: 37.724
Imputing row 9201/15000 with 1 missing, elapsed time: 37.724
Imputing row 9301/15000 with 1 missing, elapsed time: 37.725
Imputing row 9401/15000 with 0 missing, elapsed time: 37.726
Imputing row 9501/15000 with 1 missing, elapsed time: 37.727
Imputing row 9601/15000 with 0 missing, elapsed time: 37.728
Imputing row 9701/15000 with 0 missing, elapsed time: 37.729
Imputing row 9801/15000 with 0 missing, elapsed time: 37.730
Imputing row 9901/15000 with 1 missing, elapsed time: 37.731
Imputing row 10001/15000 with 0 missing, elapsed time: 37.732
Imputing row 10101/15000 with 0 missing, elapsed time: 37.733
Imputing row 10201/15000 with 0 missing, elapsed time: 37.734
Imputing row 10301/15000 with 2 missing, elapsed time: 37.735
Imputing row 10401/15000 with 0 missing, elapsed time: 37.736
Imputing row 10501/15000 with 1 missing, elapsed time: 37.736
Imputing row 10601/15000 with 1 missing, elapsed time: 37.738
Imputing row 10701/15000 with 0 missing, elapsed time: 37.739
Imputing row 10801/15000 with 1 missing, elapsed time: 37.740
Imputing row 10901/15000 with 0 missing, elapsed time: 37.740
Imputing row 11001/15000 with 0 missing, elapsed time: 37.741
Imputing row 11101/15000 with 1 missing, elapsed time: 37.742
Imputing row 11201/15000 with 0 missing, elapsed time: 37.743
Imputing row 11301/15000 with 0 missing, elapsed time: 37.744
Imputing row 11401/15000 with 0 missing, elapsed time: 37.745
Imputing row 11501/15000 with 0 missing, elapsed time: 37.746
Imputing row 11601/15000 with 0 missing, elapsed time: 37.747
Imputing row 11701/15000 with 1 missing, elapsed time: 37.747
Imputing row 11801/15000 with 1 missing, elapsed time: 37.749
Imputing row 11901/15000 with 0 missing, elapsed time: 37.750
Imputing row 12001/15000 with 0 missing, elapsed time: 37.750
Imputing row 12101/15000 with 0 missing, elapsed time: 37.751
Imputing row 12201/15000 with 1 missing, elapsed time: 37.752
Imputing row 12301/15000 with 0 missing, elapsed time: 37.753
Imputing row 12401/15000 with 0 missing, elapsed time: 37.754
Imputing row 12501/15000 with 0 missing, elapsed time: 37.755
Imputing row 12601/15000 with 0 missing, elapsed time: 37.756
Imputing row 12701/15000 with 0 missing, elapsed time: 37.757
Imputing row 12801/15000 with 0 missing, elapsed time: 37.758
Imputing row 12901/15000 with 1 missing, elapsed time: 37.759
Imputing row 13001/15000 with 0 missing, elapsed time: 37.760
Imputing row 13101/15000 with 0 missing, elapsed time: 37.761
Imputing row 13201/15000 with 0 missing, elapsed time: 37.762
Imputing row 13301/15000 with 0 missing, elapsed time: 37.763
Imputing row 13401/15000 with 0 missing, elapsed time: 37.764
Imputing row 13501/15000 with 0 missing, elapsed time: 37.765
Imputing row 13601/15000 with 0 missing, elapsed time: 37.765
Imputing row 13701/15000 with 0 missing, elapsed time: 37.766
Imputing row 13801/15000 with 0 missing, elapsed time: 37.767
Imputing row 13901/15000 with 2 missing, elapsed time: 37.768
Imputing row 14001/15000 with 0 missing, elapsed time: 37.769
Imputing row 14101/15000 with 0 missing, elapsed time: 37.770
Imputing row 14201/15000 with 0 missing, elapsed time: 37.770
Imputing row 14301/15000 with 0 missing, elapsed time: 37.771
Imputing row 14401/15000 with 0 missing, elapsed time: 37.772
Imputing row 14501/15000 with 0 missing, elapsed time: 37.773
Imputing row 14601/15000 with 0 missing, elapsed time: 37.774
Imputing row 14701/15000 with 0 missing, elapsed time: 37.775
Imputing row 14801/15000 with 0 missing, elapsed time: 37.776
Imputing row 14901/15000 with 0 missing, elapsed time: 37.776

In [16]:
final_df = pd.DataFrame(X_imputed, columns = X.columns)
final_df['target'] = df.target
final_df.to_csv('train_imputed.csv')